.title {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  display: inline-block;
  font-size: 0.85rem;
  text-align: center;
}

.emptySpace {
  display: flex;
  font-size: 0.85rem;
  text-align: center;
  justify-content: center;
  max-height: 4rem;
  width: 100%;
  position: relative;
}

.cardEmpty {
  height: 16rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}
