.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-content: center;
  place-items: flex-start;
  gap: 10rem 2rem;
  height: auto;
  margin: 10rem 0 5rem;
}

.intersect {
  height: 1px;
  width: 100%;
}
