.podcastDetail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.podcastDetail > * + * {
  margin-top: 1rem;
}

.totalEpisodes {
  width: 100%;
  box-shadow: var(--shadow);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  border-radius: var(--border-radius);
  padding: 1rem;
}

.wrapperTable {
  box-shadow: var(--shadow);
  display: flex;
  justify-content: flex-start;
  border-radius: var(--border-radius);
  padding: 0 1rem 1rem;
  overflow: scroll;
  max-height: 60vh;
  width: 100%;
}
