:root {
  --color-primary: #2677c0;
  --content-color-primary: #353c47;
  --content-color-secondary: #7a7f86;

  --divider-color: #e0e0e0;

  --background-color: #ffffff;

  --shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  --border-radius: 4px;
  --odd-row: #f5f5f5;

  font-size: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--content-color-primary);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  /* overrides height  */
  min-height: 100vh;
  /* workaround */
  height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
  height: 0;
  border: none;
  border-bottom: 1px solid var(--divider-color);
  opacity: 0.5;
}

a:hover {
  color: var(--color-primary);
}

#root {
  height: 100%;
}
