.table {
  width: 100%;
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

.table thead tr th {
  position: sticky;
  top: 0;

  border-bottom: 1px solid var(--divider-color);
  background-color: var(--background-color);
}

.table tbody {
  overflow-y: scroll;
  text-align: left;
}

.table > tbody tr td {
  padding: 1rem;
}

.table thead > tr th {
  padding: 2rem 1rem 1rem;
}

.table tbody tr td a {
  font-weight: 600;
  color: var(--color-primary);
}

.table tbody tr:nth-child(even) {
  background-color: var(--odd-row);
}
